# raw crime datasets
data/raw/vancouver_crime_data.csv
data/raw/austin_texas_crime_data.csv
data/raw/3-1-1-service-requests.csv
data/raw/austin_full.csv
data/raw/2025_Data.xlsx
data/raw/combined_data.csv
data/raw/Austin Tx Data
data/raw/Vancouver Data


# raw geojson tests
data/raw/city-boundary.geojson
data/raw/local-area-boundary.geojson
data/raw/property-parcel-polygons.geojson
data/raw/street_network.geojson

# raw json?
data/raw/properties.json
data/raw/sharp_street_segments.json
data/raw/street_lights.json

# Maps
map.html
unified_map.html
network_map.html
Austin_Map.html